body{
    background-color:rgb(235,235,235);
}
#container{
    margin:auto;
    position:relative;
    top:25px;
    border-radius:1%;
}
#container div{
    float:left;
}
h1{
    display:flex;
    justify-content:center;
    position:relative;
    color:#2e953a;
    font-size:40px;
    text-transform:uppercase;
    font-family:Helvetica;
    padding:10px;
}
.mode{
    display:flex;
    justify-content:center;
    width:auto;
    padding:10px;
    position:relative;
    margin:auto;
}
.mode button{
    margin:0 5px 0 5px;
    background-color:rgb(135,206,250);
    border:none;
    border-radius:4px;
    padding:9px 12px 9px 12px;
}
.mode button #custom{
    padding-right:3px;
}
.mode button:hover{
    background-color:#6ebbf0;
}
button #customColor{
    padding:0;
    margin:0;
    background-color:rgb(135,206,250);
    border:none;
    height:20px;
    width:20px;
}
button #customColor:hover{
    background-color:#6ebbf0;
}
#Mode{
    border:none;
    border-radius:4px;
}
